body{
    margin: 0;
    padding: 00;
}

.main-container{
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(8, 67, 217) 0%, rgb(27, 62, 103) 35%, rgba(0,212,255,1) 100%);
    color: #fff;

}

.main-container img{

    max-width: 100%;
    height: auto;
}

.content__texto-e-paragrafo{
    width: 75%;
    margin: 0 auto;
}

